
  <footer>
    <small>l1l</small>
  </footer>
  <script>
  function openModal() {
              document.getElementById('modal').classList.add('is-active');
          }
          function closeModal() {
              document.getElementById('modal').classList.remove('is-active');
          }
  </script>
</body>
</html>
